.guestchat {
  background-color: rgba($color-white, 0.8);

  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 1rem 1rem 2rem rgba(134, 111, 111, 0.699);
  width: 80%;
  max-width: 80rem;
}

.message {
  background-color: $color-white;
  border-radius: 2rem;
  padding: 2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
