.clubcard {
  align-self: center;
  justify-self: center;
  height: 60%;
  width: 80%;
  max-width: 35rem;
  background-color: rgba(34, 33, 33, 0.747);
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;

  &__picture {
    height: 100%;
    & img {
      background-position: top;
      object-fit: cover;
      height: 100%;
      width: 100%;
      background-blend-mode: overlay;
      // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-image: linear-gradient(
        to right bottom,
        $color-black,
        $color-gray-light-2
      );
    }
  }

  &__heading {
    position: absolute;
    top: 50%;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: end;
    color: $color-white;
    width: 45%;
  }

  &__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-2, 0.75),
      rgba($color-grey-dark-3, 0.75)
    );
  }

  &__details {
    color: $color-white;
    height: auto;
    font-size: $default-font-size;
    margin-top: 0.5rem;
    padding: 2rem;
  }

  &:hover {
    transform: scale(1.3s);
  }
}
