.home {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 200px) [col-end]
    )
    [center-end] 1fr [full-end];
  // grid-template-rows: minmax(30vh, max-content) repeat(
  //     3,
  //     minmax(50rem, max-content)
  //   );

  //row-gap: 5rem;

  @media screen and (max-width: 800px) {
    row-gap: 0;
  }
}
