.loginPage {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-gray-light-1, 0.4),
      rgba($color-gray-light-2, 0.2) 0.8
    ),
    url('https://www.elmia.se/globalassets/bilder/elmia-ab/golf-center/elmia-golf-center-i-jonkoping.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
